<h1>アカウント情報</h1>

<%= link_to "アカウント編集", "/users/edit" %>
<h3>ユーザーID</h3>
<%= current_user.id %>
<h3>ユーザー名</h3>
<%= current_user.name %>
<h3>メールアドレス</h3>
<%= current_user.email %>
<h3>プロフィール</h3>
<%= current_user.profile %>
<h3>プロフィール画像</h3>
<%= image_tag current_user.avatar, width: 150 %><br>
<%= link_to "トップページ", "/" %>