<h2>Room</h2>

<div class="form_area">
<%= simple_form_for @room do |f| %>
  <%= f.input :name %>
  <%= f.input :introduction %>
  <%= f.input :fee, placeholder: '半角数字で入力してください' %>
  <%= f.input :address %>
  <%= f.label :post_image%>
  <%= f.file_field :post_image%>
  <%= f.button :submit %>
<% end %>
</div>