 <h3>施設詳細</h3>
 
 <table>
     <tr>
        <th>名前</th>
        <td><%= @room.name %></td>
     </tr>
     <tr>
        <th>紹介</th>
        <td><%= @room.introduction %></td>
     </tr>
     <tr>
        <th>金額</th>
        <td><%= @room.fee %></td>
     </tr>
     <tr>
        <th>エリア</th>
        <% if @room.area == 1 %>
            <td>東京</td>
        <% elsif @room.area == 2 %>
            <td>大阪</td>
        <% elsif @room.area == 3 %>
            <td>京都</td>
        <% elsif @room.area == 4 %>
            <td>札幌</td>        
        <% end %>
     </tr>
     <tr>
        <th>住所</th>
        <td><%= @room.address %></td>
     </tr>
     <tr>
        <th>画像</th>
        <% if @room.room_image.attached? %>
               <td><%= image_tag @room.room_image %></td>
        <% else %>
               <td><%= image_tag 'default-room.png' %></td>
        <% end%>
     </tr>
 </table>
 <%= form_with model: @reservation do |f| %>
    <table>
        <tr>
            <th><%= f.label :checkin, "チェックイン" %></th>
            <td><%= f.date_field :checkin %></td>
        </tr>
    
        <tr>
            <th><%= f.label :checkout, "チェックアウト" %></th>
            <td><%= f.date_field :checkout %></td>
        </tr>

        <tr>
            <th><%= f.label :num_of_people, "宿泊人数" %></th>
            <td><%= f.number_field :num_of_people %></td>
        </tr>
    </table>
 <% end %>

  <div>
   <ul>
     <li><%= link_to "施設一覧に戻る", :rooms %></li>
   </ul>
 </div>