<h3>施設詳細</h3>
<body>
 <table>
     <tr>
        <th>施設名</th>
        <td><%= @room.name %></td>
     </tr>
     <tr>
        <th>施設紹介</th>
        <td><%= @room.introduction %></td>
     </tr>
     <tr>
        <th>宿泊料金(/日)</th>
        <td><%= @room.fee %></td>
     </tr>
     <tr>
        <th>エリア</th>
        <% if @room.area == 1 %>
            <td>東京</td>
        <% elsif @room.area == 2 %>
            <td>大阪</td>
        <% elsif @room.area == 3 %>
            <td>京都</td>
        <% elsif @room.area == 4 %>
            <td>札幌</td>        
        <% end %>
     </tr>
     <tr>
        <th>住所</th>
        <td><%= @room.address %></td>
     </tr>
     <tr>
        <th>施設画像</th>
        <% if @room.room_image.attached? %>
               <td><%= image_tag @room.room_image %></td>
        <% else %>
               <td><%= image_tag 'default-room.png' %></td>
        <% end%>
     </tr>
     <tr>
        <th>作成日</th>
        <td><%= @room.created_at %></td>
     </tr>
 </table>
 <%= form_with model: @reservation do |f| %>
    <table>
        <tr>
            <th><%= f.label :checkin, "チェックイン" %></th>
            <td><%= f.date_field :checkin %></td>
        </tr>
    
        <tr>
            <th><%= f.label :checkout, "チェックアウト" %></th>
            <td><%= f.date_field :checkout %></td>
        </tr>

        <tr>
            <th><%= f.label :num_of_people, "宿泊人数" %></th>
            <td><%= f.number_field :num_of_people %></td>
        </tr>
    </table>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div>
    <ul>
      <li>
        <%= link_to "施設を予約する", "#", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#reservationModal" } %>
      </li>
    </ul>
  </div>

<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel">予約確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 予約確認の内容を表示 -->
        <p>チェックイン: <%= @reservation.checkin %></p>
        <p>チェックアウト: <%= @reservation.checkout %></p>
        <p>宿泊人数: <%= @reservation.num_of_people %></p>
        <!-- 他の予約情報など -->

        <p>施設名: <%= @room.name %></p>
        <p>宿泊料金: <%= @room.fee %></p>
        <!-- 他の施設情報など -->
      </div>
      <div class="modal-footer">
        <!-- 予約を確定するボタン -->
        <%= f.submit "予約確定", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#reservationModal", dismiss: "modal" } %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<% end %>
  <div>
   <ul>
     <li><%= link_to "施設一覧", :rooms %></li>
     <li><%= link_to "前のページに戻る", :back %></li>
   </ul>
 </div>
</body>